/* The faces are served from the app, never fetched. `block` rather than
   `swap`: the files are local, so the wait is nothing, and a swap would
   flash the fallback's metrics across the canvas. Licences sit beside
   the files in fonts/licences. */

@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/cinzel-decorative-400.woff2") format("woff2");
}

@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("./fonts/cinzel-decorative-700.woff2") format("woff2");
}

@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/eb-garamond-400-italic.woff2") format("woff2");
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400 700;
  font-display: block;
  src: url("./fonts/eb-garamond-400-700.woff2") format("woff2");
}

@font-face {
  font-family: "Libertinus Sans";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/libertinus-sans-400-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Libertinus Sans";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/libertinus-sans-400.woff2") format("woff2");
}

@font-face {
  font-family: "Libertinus Sans";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("./fonts/libertinus-sans-700.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400 600;
  font-display: block;
  src: url("./fonts/fira-code-400-600.woff2") format("woff2");
}
